@import "~normalize-scss/sass/normalize/_import-now.scss";
@import url('https://fonts.googleapis.com/css?family=Lato');

$color-white:#fff;
$color-blue:#445EA0;
$color-yellow:#FFD400;
$color-light-blue:#C0EBFB;
$color-violet:#A687FB;
$color-dark-violet:#7152C6;
$color-light-red:#FE5B60;
$color-sky:#2979FF;
$color-grey: hsl(0, 0%, 60%);
$main-margin: 1% 5%;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 576px) { @content };
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 768px) { @content };
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 992px) { @content };
    }
}

@include respond(tab-land) {
    html {
        font-size: 80%;
    }
}

@include respond(tab-port) {
    html {
        font-size: 70%;
    }
}

@include respond(phone) {
    .main, 
    .header, 
    .title-one, 
    .title-two, 
    .box {margin: 1% 0 0 0 !important;}
}

html,body{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

.container {
	width: 100%;
	height: auto;
	background-color: $color-white;
}

.header {
	margin: $main-margin;
	padding: 15px;	

	&-img{display: inline-block;}

	&-nav{
	    display: inline-block;
	    float: right;
	}
	
	.nav-container{
		 .bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			visibility: hidden;
			opacity: 0;
			transition: .3s all;
			background: #000;
		}
		&:focus-within .bg {
			visibility: visible;
			opacity: .6;
			z-index: 999;
		}
		
		&-menu {margin-top: 5px;}

		&-content{
			display: none;
			width: 15%;
			position: absolute;
			top: 0;
			right: 0;
			height: 100vh;
			background: $color-white;
			z-index: 9999;
			box-shadow: 0px -5px 5px 5px rgba(0, 0, 0, .2);

			@include respond(phone) {
				& {
					width: 60%;
				}
			}

			& h4 {
				padding-top: 20px;
				padding-left: 45px;
				color: $color-grey;
			}

			& ul {
				list-style: none;
				height: 100%;
			}

			& li {
			    letter-spacing: 1px;
			    font-weight: bold;
			}

			& li a {
				color: $color-grey;
				padding: 10px 5px;
				display: block;
			}
		}
	}
}

.main {
    margin: $main-margin;
    height: 100vh;
    display: flex;
    width: 80%;

    @include respond(phone) {
    	width: 100%;
    	margin-bottom: 125px !important;
    }

    &-left-box {
        width: 40%;
        height: 100%;
        position: relative;

        &-white {
	        float: left;
	        position: absolute;
		    top: 50%;
		    transform: translate(0,-50%);

		    .dot{color: $color-light-red;}
        }
        @include respond(phone) {
    		display: none;
	    }
    }

	.text {color: $color-grey; line-height: 0;}

    &-right-box {
        width: 60%;
        height: 100%;
    	color: $color-white;
    	font-weight: 700;

        h1 {padding: 0 10px;}
        h5 {padding-left: 10px;}

        &:after {
		    content: "";
		    display: block;
		    border-left: 1px solid $color-grey;
		    position: absolute;
		    top: 95%;
		    left: 60%;
		    height: 130px;
		    background-color: $color-grey;
        }

        @include respond(phone) {
        	width: 100%;

        	&:after {
			    content: "";
			    display: block;
			    border-left: 1px solid $color-grey;
			    position: absolute;
			    top: 116%;
			    left: 50%;
			    height: 90px;
			    background-color: $color-grey;
	        }
        }

        &-pink {
            width: 50%;
            height: 50vh;
            background-color: $color-light-red;
            display: inline-block;
            float: left;
            position:relative;

            @include respond(phone) {
    			width: 100%;
		    }
        }

        &-purple {
            width: 25%;
            height: 25vh;
            background-color: $color-dark-violet;
            display: inline-block;
            float: left;
            position:relative;

            @include respond(phone) {
    			width: 50%;
    			float: right;
		    }

            p:last-child {
	        	padding-left: 10px;
	        	position: absolute;
	        	bottom: 0;
	        	left: 0;
	        	text-decoration:underline;
	        }
        }

        &-white {
            width: 50%;
            height: 25vh;
            float: left;
            position:relative;

            @include respond(phone) {
    			display: none;
		    }

            h1{
            	color: $color-grey;
        	    position: absolute;
			    top: 25%;
			    right: 10%;
            }
        }

        &-blue {
            width: 25%;
            height: 30vh;
            background-color: $color-blue;
            display: inline-block;
            float: left;
            position:relative;

            @include respond(phone) {
    			width: 50%;
    			height: 25vh;
		    }

            p:last-child {
	        	padding-left: 10px;
	        	position: absolute;
	        	bottom: 0;
	        	left: 0;
	        	text-decoration:underline;
	        }
        }

        &-yellow {
            width: 50%;
            height: 30vh;
            background-color: $color-yellow;
            display: inline-block;
            float: left;
            position:relative;

            @include respond(phone) {
    			width: 100%;
		    }

            p:last-child {
	        	padding-left: 10px;
	        	position: absolute;
	        	bottom: 0;
	        	left: 0;
	        	text-decoration:underline;
	        }

	        &-span {display: block;}
        }
    }
}

.title-one {
	margin: $main-margin;
	background-color: $color-violet;
	display: inline-block;
	position: relative;
	margin-bottom: 95px !important;

		&:after{
			content: "";
		    border-left: 1px solid $color-grey;
		    position: absolute;
		    height: 170px;
		    left: 50%;
		    top: 105%;
		}

	@include respond(phone) {
		&:after {
			content: "";
		    border-left: 1px solid $color-grey;
		    position: absolute;
		    height: 100px;
		    left: 50%;
		    top: 100%;
		}
	}

	&-heading {
		text-align: center;
		color: $color-yellow;
	    padding: 25px 0 0 0;
	}

	&-img {
		display: inline-block;
		width: 50%;

	    @include respond(phone) {
	    	display: block;
	    	width: 100%;
	    	text-align: center;
	    }
	}
	&-image {
		padding: 0px 0px 35px 80px; 
		width: 60%;
		
	    @include respond(phone) {
	    	padding: 10px 0;
	    	width: 50%;
	    }

	}

	&-right {
		display: inline-block;
		float: right;
		width: 50%;

	    @include respond(phone) {
	    	display: block;
	    	float: none;
	    	width: 100%;
	    }
	}

	&-text {
		color: $color-white;
		letter-spacing: 1px;
		line-height: 20px;
		padding: 0 30px;
		width: 85%;
	    text-align: center;
	}
}

.title-two {
    background: linear-gradient(0deg, #fff 50%, $color-light-blue 0%);
	margin-top: 135px;
	padding: 10px 0 100px 0;

	@include respond(phone) {
        & {
	        background: linear-gradient(0deg, #fff 0%, $color-light-blue 0%);
	        padding: 10px 0 0 0;
	    }
    }

	&:after {
	    content: "";
	    display: block;
	    width: 80%;
	    position: absolute;
	    left: 10%;
	    border-bottom: 1px solid $color-grey;
	    padding-bottom: 100px;
	}
	@include respond(phone) {
        &:after {
	        display:none;
	    }
    }

	&-img:after {
		content: "";
	    border-left: 2px dashed $color-grey;
	    padding-bottom: 140px;
	    display: inline-flex;
	}

	@include respond(phone) {
		&-img:after {
			display:none;
		}
	}

	@include respond(phone) {
        & {
			width: 100%;
		    text-align: center;
		    margin: 0 auto;
	    }
  
	}

	img {
	    width: 80%;
	}

	&-title {
		text-align: center;
		color: $color-white;
	}
	&-box {
		display: inline-block;
		text-align: center;
	    width: 30%;
	    margin: 0 1.45%;

	    @include respond(phone) {
		    & {
				width: 50%;
		    }
		}
	}

	&-heading {
		color: $color-grey;
		display: block;
		text-align: center;
	    padding-top: 20px;

	    @include respond(phone) {
		    & {
				padding: 0 0 20px 0;
		    }
		}

		&-text {
		    display: flex;
		    width: 60%;
		    margin: 0 20%;
		}
	}
}

.box {

	margin: $main-margin;
	position: relative;
	height: 300px;

	@include respond(tab-land) {
	        height: 220px;
	    }

	    @include respond(tab-port) {
	        height: 180px;	    
	    }

        @include respond(phone) {
        	height: 270px;
        }

	&-title {
	    z-index: 100;
	    position: absolute;
	    width: 25%;
	    left: 20%;
	    color: $color-blue;
	    font-weight: bold;

	    @include respond(phone) {
	        position: inherit;
		    width: 80%;
		    left: 10%;
		    text-align: center;
	    }
	}
	&-img {
		position: absolute;
	    right: 20%;
	    top: 20px;
        width: 40%;
        height: auto;

	    @include respond(phone) {
            position: inherit;
		    left: 12.5%;
		    width: 50%;
	    } 

	    &-right {
    	    width: 100%;
	    }
	}

	&-btn {
	    position: absolute;
	    bottom: 0;
	    left: 20%;
	    background-color: $color-light-red;
	    padding: 10px 15px;

	    @include respond(phone) {
	    	position: inherit;
		    left: 0;
		    text-align: center;
		    width: 25%;
		    margin: 40px auto;
		    border-radius: 5px;
	    }

	}
    .button {
	    border: none;
	    color: $color-white;
	    background-color: transparent;
    }
}

.footer{
	background-color: $color-blue;
	color: $color-white;
	display: flex;
    justify-content: space-between;

	@include respond(phone) {
        display: table;
	    text-align: -webkit-center;
	    width: 100%;
    }

	&-box {
	    padding: 25px 0;
	    margin: $main-margin;

	    @include respond(phone) {
	    	& {
	    		margin: 0 auto;
	    		width: 80%;
	    	}
			&:first-child {
				display: table-footer-group;
			}
			&:nth-child(2) {
				display:none;
			}
		}

		&-contact-text {margin-right: 25px;}
		&-contact-img {
			display: inline-block;
			vertical-align: middle;

			@include respond(phone) {
				img {
					margin-right: 20px;
				}
			}
		}

		&-adress {
			margin: 15px 0;

			@include respond(phone) {
				display: none;
			}
		}
		&-adress p{margin: 2px 0;}
		&-adress p:nth-child(2){margin-top: 15px;}
		&-adress p:nth-child(4){margin-top: 15px;}
		&-text {padding-bottom: 3px;}

		&-white {
			width: 300px;
			height: 120px;
			background-color: $color-white;
		}

		&-form {margin-top: 10px;}
		&-label{
		    display: block;
		    margin-bottom: 25px;

			@include respond(phone) {
				float: left;
			}
		}

		&-textarea {
			width: 250px;
		    height: 100px;
		    display: block;
		    resize: none;
		    border-radius: 10px;

		    @include respond(phone) {
				width: 100%;
				border: 1px solid $color-blue;
			}
		}

		&-btn {
		    margin: 15px 0;
		    padding: 5px 10px;
		    border-radius: 5px;
		    background-color: $color-yellow;
		    border: none;
		    color: $color-white;

		    @include respond(phone) {
		    	float: right;
		    }
		}
	}
}